---
apiVersion: cdi.kubevirt.io/v1beta1
kind: DataVolume
metadata:
  name: {{ bootwright_current_cluster.name }}-{{ bootwright_component.name }}-root
  namespace: {{ bootwright_component.kubevirt.namespace }}
  labels:
    bootwright.io/cluster: {{ bootwright_current_cluster.name }}
    bootwright.io/node: {{ bootwright_component.name }}
    bootwright.io/role: root
    bootwright.io/managed-by: bootwright
spec:
  source:
    blank: {}
  pvc:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: {{ bootwright_component.profile.diskGiB | default(120, true) }}Gi
{% if bootwright_kubevirt_storage_class | default('') | length > 0 %}
    storageClassName: {{ bootwright_kubevirt_storage_class }}
{% endif %}
