[Unit]
Description=Bootwright sushy-emulator ({{ bootwright_bmc_provider_name }})
After=libvirtd.service network-online.target
Wants=libvirtd.service network-online.target

[Service]
Type=simple
Environment=BOOTWRIGHT_CONTEXT={{ bootwright_bmc_current_context }}
Environment=BOOTWRIGHT_PROVIDER={{ bootwright_bmc_provider_name }}
Environment=BOOTWRIGHT_HOST={{ bootwright_host_name | default(inventory_hostname) }}
Environment=TMPDIR={{ bootwright_bmc_temp_root }}
Environment=TMP={{ bootwright_bmc_temp_root }}
Environment=TEMP={{ bootwright_bmc_temp_root }}
ExecStart={{ bootwright_bmc_root }}/venv/bin/sushy-emulator --config {{ bootwright_bmc_root }}/sushy.conf
Restart=on-failure
RestartSec=5
StandardOutput=append:{{ bootwright_bmc_root }}/sushy.log
StandardError=append:{{ bootwright_bmc_root }}/sushy.log

[Install]
WantedBy=multi-user.target
