{% set _ntp_ips = (bootwright_resolved_ntp_sources | default([])) | select('match', '^[0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+$') | list %}
<network{% if _ntp_ips %} xmlns:dnsmasq='http://libvirt.org/schemas/network/dnsmasq/1.0'{% endif %}>
  <name>{{ bootwright_libvirt_network_name }}</name>
  <uuid>{{ bootwright_libvirt_network_uuid }}</uuid>
  <metadata>
    <bootwright:resource xmlns:bootwright='https://bootwright.io/libvirt/metadata/1.0'>
      <bootwright:context>{{ bootwright_clusters_dir | dirname | basename }}</bootwright:context>
      <bootwright:cluster>{{ bootwright_current_cluster.name }}</bootwright:cluster>
    </bootwright:resource>
  </metadata>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ bootwright_libvirt_bridge }}' stp='on' delay='0'/>
  <dns enable='no'/>
  <ip address='{{ bootwright_libvirt_network.gateway }}' prefix='{{ bootwright_libvirt_network.cidr.split("/") | last }}'>
    <dhcp>
{% for machine in bootwright_libvirt_network_machines %}
{% set primary = machine.networkConfig.addresses | default([]) | first | default({}) %}
{% set primary_ipv4 = primary.ipv4 | default([]) | first | default({}) %}
{% if (primary.macAddress | default('') | length > 0) and (primary_ipv4.ip | default('') | length > 0) %}
      <host mac='{{ primary.macAddress }}' name='{{ bootwright_current_cluster.name }}-{{ machine.name }}' ip='{{ primary_ipv4.ip }}'/>
{% endif %}
{% endfor %}
    </dhcp>
  </ip>
{% if _ntp_ips %}
  <dnsmasq:options>
    <dnsmasq:option value='dhcp-option=option:ntp-server,{{ _ntp_ips | join(",") }}'/>
  </dnsmasq:options>
{% endif %}
</network>
