[Unit]
Description=Bootwright boot artifacts HTTPS server ({{ bootwright_component.providerName }}/{{ bootwright_component.name }})
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/libexec/bootwright/artifacts-http-server.py {{ bootwright_component.port | int }} --bind {{ bootwright_component.bindAddress }} --directory {{ bootwright_artifacts_state_dir }} --certfile {{ bootwright_artifacts_tls_cert_path }} --keyfile {{ bootwright_artifacts_tls_key_path }}
Restart=on-failure
RestartSec=5
StandardOutput=append:{{ bootwright_host_state_dir }}/artifacts/{{ bootwright_component.providerName }}-{{ bootwright_component.name }}/http.log
StandardError=append:{{ bootwright_host_state_dir }}/artifacts/{{ bootwright_component.providerName }}-{{ bootwright_component.name }}/http.log

[Install]
WantedBy=multi-user.target
