[defaults]
roles_path = ./roles/bastion:./roles/shared:./roles/providers:./roles/cluster_infra:./roles/openshift:./roles/storage
collections_path = ./collections
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = False
local_tmp = /tmp
remote_tmp = /tmp

[privilege_escalation]
become_flags = -H -S -n --preserve-env=HTTP_PROXY,HTTPS_PROXY,NO_PROXY,http_proxy,https_proxy,no_proxy

[ssh_connection]
pipelining = False
ssh_common_args = -o StrictHostKeyChecking=accept-new
