[defaults]
inventory = inventory.json
collections_path = collections
roles_path = collections/ansible_collections/bootwright/core/roles
forks = 1
strategy = ansible.builtin.linear
host_key_checking = True
retry_files_enabled = False
display_args_to_stdout = False
interpreter_python = /usr/bin/python3
gathering = explicit
inject_facts_as_vars = False
callbacks_enabled =
stdout_callback = ansible.builtin.default
nocows = True
deprecation_warnings = False
system_warnings = False

[inventory]
enable_plugins = ansible.builtin.yaml

[privilege_escalation]
become = False
