[defaults]
collections_path = ./collections
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = False
display_skipped_hosts = False
local_tmp = /var/tmp
remote_tmp = /var/tmp
timeout = 30

[privilege_escalation]
become_flags = -H -S -n --preserve-env=HTTP_PROXY,HTTPS_PROXY,NO_PROXY,http_proxy,https_proxy,no_proxy

[ssh_connection]
pipelining = False
ssh_common_args = -o StrictHostKeyChecking=accept-new -o ConnectTimeout=15 -o ServerAliveInterval=15 -o ServerAliveCountMax=3
